html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  background: #c4c4c4;
  display: flex;
}

h3 {
  color: #333;
}

.App {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  flex: 1;
  justify-self: center;
  align-self: center;
}

.btn {
  background: palevioletred;
  border-radius: 3px;
  border: 2px solid #d36184;
  color: #fff;
  margin: 0.25rem 1em;
  padding: 0.25em 1em;
  cursor: pointer;
}
.btn:hover {
  background: #d36184;
}

.container {
  margin: 2rem;
}

.joke-text {
  margin: 1rem;
  padding: 1rem;
  background: #fff;
  border: 2px solid #999;
  border-radius: 15px;
}

.joke-controls {
  margin: 1rem;
}

.joke-controls-item {
  width: 100px;
  height: 100px;
  outline: 0;
}

.favorite-item {
  background: #ddd;
  cursor: pointer;
}
